<div class="jumbotron">
  <h1 class="display-3">Welcome to Micro-reddit</h1>
  <p class="lead">Here you can post about whatever you desire and your friends can comment.</p>
  <hr class="my-2">
  <p>Just be nice to other people.</p>
  <p class="lead">
    <%= link_to 'Create your first post', new_post_path, class: "btn btn-primary btn-lg"%>
  </p>
</div>