<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title h2"><%= @post.title%></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @post.user.username%></h6>
    <p class="card-text"><%= @post.content%></p>
  </div>
</div>